<div>
  <h2>parent works! {{ name }} {{ surname }} {{ city }}</h2>
  <div>
    from:
    <p>{{ address.city }}</p>
    <p>{{ address.street }}</p>
    <p>{{ address.house }}</p>
  </div>
  <inst-child
    [surnameProps]="surname"
    [city]="city"
    [address]="address"
    (sendGradeEvent)="getGrade($event)"
    (sendGrateArrHandlerEvent)="getGradeArr($event)"
  ></inst-child>

  <div>
    grade
    <!--    <span>-->
    <!--      {{ grades | json }}-->
    <!--    </span>-->
    <div *ngFor="let el of grades; index as i; count as count; even as even">
      <b>{{ count }}</b>
      {{ i }} - {{ el }} even: {{ even }}
    </div>
  </div>
</div>

<div *ngIf="isLoading; else elseBlock">
  <h1>Loading...</h1>
</div>

<ng-template #elseBlock>
  <div>
    <div *ngFor="let el of lessons">
      <h3>{{ el.title }}</h3>
      <div *ngFor="let grade of el.weekGrades">
        <h4>{{ grade.gradeItem }}</h4>
      </div>
    </div>
  </div>
</ng-template>
