<!--<div>-->
<!--  <div>-->
<!--    <h1>-->
<!--      {{ appTitle }}-->
<!--    </h1>-->
<!--    <h2>{{ user.name }}</h2>-->
<!--    <h2>{{ user.age }}</h2>-->
<!--  </div>-->
<!--  <div>-->
<!--    <h3>Property binding</h3>-->
<!--    <button [disabled]="isAppLoading">send</button>-->
<!--  </div>-->
<!--  <div>-->
<!--    <h3>Event binding</h3>-->
<!--    <h4>{{ title }}</h4>-->
<!--    <button (click)="changeTitleHandler()">change title</button>-->
<!--  </div>-->

<!--  <div>-->
<!--    <h3>Event binding input</h3>-->
<!--    <h4>{{ text }}</h4>-->
<!--    <input type="text" (keyup.enter)="changeTextHandler($event)" />-->
<!--    &lt;!&ndash;<input type="text" (input)="changeTextHandler($event)" />&ndash;&gt;-->
<!--  </div>-->

<!--  <div>-->
<!--    <h3>Two-way binding</h3>-->
<!--    <h4>{{ textTwoWay }}</h4>-->
<!--    <input type="text" [(ngModel)]="textTwoWay" />-->
<!--  </div>-->
<!--</div>-->

<div>
  <!--  <inst-parent></inst-parent>-->
  <inst-parent2></inst-parent2>
</div>
